body {
  margin: 0;
  font-family: "woowa";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: woowa;
  src: url("../assets/fonts/BMHANNAAir_ttf.ttf");
}

.dark .ql-toolbar {
  background: white;
}
