body {
  margin: 0;
  font-family: "woowa";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: woowa;
  src: url("../assets/fonts/BMHANNAAir_ttf.ttf");
}
